# .coveragerc to control coverage.py
[run]
branch = True
source = hamilton
omit =
    # The quaternion object isn't ready
    hamilton/quaternion.py
    hamilton/map.py
    hamilton/geometry.py
    hamilton/_version.py

[report]
ignore_errors = True

[html]
directory = coverage_html_report
