# .coveragerc to control coverage.py
[run]
branch = True
source = rowan
omit =
    # The quaternion object isn't ready
    rowan/map.py
    rowan/_version.py

[report]
ignore_errors = True

[html]
directory = coverage_html_report
