# .coveragerc to control coverage.py
[run]
branch = True
source = hamilton
omit =
    # The quaternion object isn't ready
    quaternion.py
    map.py
    geometry.py
    _version.py

[report]
ignore_errors = True

[html]
directory = coverage_html_report
