ci:
  autoupdate_schedule: quarterly

# TODO: Add mypy, pyupgrade
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 'v4.5.0'
    hooks:
      - id: end-of-file-fixer
        exclude: 'setup.cfg'
      - id: trailing-whitespace
        exclude: 'setup.cfg'
      - id: check-builtin-literals
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-yaml
      - id: debug-statements
      - id: requirements-txt-fixer
  - repo: https://github.com/PyCQA/isort
    rev: '5.13.2'
    hooks:
      - id: isort
  - repo: https://github.com/psf/black
    rev: '24.3.0'
    hooks:
      - id: black
  - repo: https://github.com/PyCQA/flake8
    rev: '7.0.0'
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-bugbear==22.1.11
          - flake8-comprehensions==3.8.0
          - flake8-rst-docstrings==0.2.5
          - pep8==1.7.1
          - pep8-naming==0.12.1
  - repo: https://github.com/PyCQA/pydocstyle
    rev: '6.3.0'
    hooks:
      - id: pydocstyle
