version: 2.1

orbs:
  codecov: codecov/codecov@3.2.2

references:
  install_dependencies: &install_dependencies
    name: Install dependencies
    command: |
      python -m pip install --progress-bar off -U virtualenv --user
      mkdir -p ./venv
      python -m virtualenv ./venv --clear
      . venv/bin/activate
      python -m pip install --progress-bar off -U -r requirements/requirements-testing.txt

  run_tests: &run_tests
    name: run tests
    command: |
      # Run with coverage
      . venv/bin/activate
      python -m pytest -v --cov=rowan/ --cov-report=xml

jobs:
  linux-python37:
    docker:
      - image: cimg/python:3.7
    working_directory: ~/repo
    steps:
      - checkout
      - run:
          <<: *install_dependencies
      - run:
          <<: *run_tests

  linux-python38:
    docker:
      - image: cimg/python:3.8
    working_directory: ~/repo
    steps:
      - checkout
      - run:
          <<: *install_dependencies
      - run:
          <<: *run_tests

  linux-python39:
    docker:
      - image: cimg/python:3.9
    working_directory: ~/repo
    steps:
      - checkout
      - run:
          <<: *install_dependencies
      - run:
          <<: *run_tests

  linux-python310:
    docker:
      - image: cimg/python:3.10
    working_directory: ~/repo
    steps:
      - checkout
      - run:
          <<: *install_dependencies
      - run:
          <<: *run_tests

  run_tests_oldest:
    # Run tests against a set of the oldest dependencies we support.
    docker:
      - image: cimg/python:3.6
    working_directory: ~/repo
    steps:
      - checkout
      - run:
          name: Install oldest dependencies
          command: |
            python -m pip install --progress-bar off -U virtualenv --user
            mkdir -p ./venv
            python -m virtualenv ./venv --clear
            . venv/bin/activate
            python -m pip install --progress-bar off -U -r requirements/requirements-oldest.txt
            python -m pip install --progress-bar off -U pytest
      - run:
          name: run tests
          command: |
            . venv/bin/activate
            python -m pytest -v tests

  build_and_deploy:
    docker:
      - image: cimg/python:3.8
    working_directory: ~/repo
    steps:
      - checkout
      - run:
          <<: *install_dependencies
      - run:
          <<: *run_tests
      - run:
          name: Deploy dist and wheels
          command: |
            . venv/bin/activate
            python -m unittest discover tests -v
            python --version
            python -m pip --version
            python -m pip install --progress-bar off --user -U twine wheel setuptools
            python -m twine --version
            python -m wheel version
            python setup.py sdist
            python setup.py bdist_wheel
            twine upload --username ${PYPI_USERNAME} --password ${PYPI_PASSWORD} dist/*

workflows:
  version: 2
  testing:
    jobs:
      - run_tests:
          post-steps:
            - codecov/upload
      - run_tests_oldest
  deploy:
    jobs:
      - build_and_deploy:
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
